@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indicadores</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .sector {
            background-color: #0d369d;
            color: white;
            padding: 20px;
            margin-bottom: 20px; /* Aumentar el margen inferior */
            border-radius: 10px; /* Esquinas redondeadas */
            text-align: center;
        }

        .info-box {
            background-color: gray;
            color: #333;
            padding: 20px;
            margin: 10px 0;
            border-radius: 10px;
            text-align: center;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            cursor: pointer; 
        }

            .info-box img {
                width: 60%;
                margin-bottom: 10px;
            }

            .info-box .info-box-content {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .info-box .info-box-text {
                font-size: 1.2rem;
                font-weight: bold;
                color: white;
            }

            .info-box .info-box-number {
                font-size: 1.5rem;
                font-weight: bold;
                color: white;
            }

        .h2, h2 {
            font-size: 27px;
        }

        .chart-container {
            background-color: #f0f0f0; /* Fondo gris claro */
            padding: 20px;
            border-radius: 10px; /* Esquinas redondeadas */
            text-align: center;
            display: flex;
            align-items: center;
        }

        .chart-container canvas {
            max-width: 50%;
            height: 300px; /* Ajusta la altura según sea necesario */
            /* margin-right: 10px; /* Reducir el espacio entre el gráfico y la leyenda */
        }

        .chart-legend {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start; /* Alinear a la izquierda */
            color: black; /* Color del texto negro */
            margin-left: 10px; /* Reducir el espacio entre el gráfico y la leyenda */
            font-size: smaller;
            cursor: pointer;
        }

        .chart-legend div {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
        }

        .chart-legend span {
            width: 20px;
            height: 20px;
            display: inline-block;
            margin-right: 10px;
        }

        .white-box {
            background-color: white;
            color: black;
            padding: 20px;
            border-radius: 10px;
            text-align: left;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        }

        .white-box .row > div {
            border-right: 1px solid #d3d3d3; /* Barra divisoria gris claro */
        }

        .white-box .row > div:last-child {
            border-right: none; /* Sin barra divisoria en la última columna */
        }

        .icon-circle {
            background-color: #007bff; /* Fondo azul */
            border-radius: 50%;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .icon-circle img {
            width: 30px;
            height: 30px;
        }

        .column-title {
            
            margin-bottom: 5px;
        }
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <header class="bg-light py-3 mb-4">
        <div class="container d-flex align-items-center">
            <img src="~/Content/Iconos/MARCA_MINISTERIO2.png" alt="Logo" style="height: 50px; width: auto;" class="mr-3">
            <h2 class="m-0">Prototipo Indicadores</h2>
        </div>
    </header>
    <div class="container">
        <div class="sector">
            <h2>Indicadores por Organismo</h2>

            <div class="row justify-content-center">
                <div class="col-md-2">
                    <div class="info-box">
                        <img src="~/Content/Iconos/agua-y-cloacas.svg" alt="icono representativo a obras publicas">
                        <div class="info-box-content">
                            <span class="info-box-text">AySAM</span>
                            <span class="info-box-number" id="totalAySAM">0</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="info-box" id="infoInfraestructura">
                        <img src="~/Content/Iconos/arquitectura.svg" alt="icono representativo a obras publicas">
                        <div class="info-box-content">
                            <span class="info-box-text">Infraestructura</span>
                            <span class="info-box-number" id="totalInfra">4</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="info-box">
                        <img src="~/Content/Iconos/vivienda.svg" style="margin-bottom: 0px;" alt="icono representativo a obras publicas">
                        <div class="info-box-content">
                            <span class="info-box-text">IPV</span>
                            <span class="info-box-number" id="totalIPV">0</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="info-box">
                        <img src="~/Content/Iconos/obras-viales.svg" alt="icono representativo a obras publicas">
                        <div class="info-box-content">
                            <span class="info-box-text">DPV</span>
                            <span class="info-box-number" id="totalVialidad">0</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sector hidden" id="sector2">
        <h2>Objetivos Estratégicos</h2>
        <div class="chart-container">
            <canvas id="donutChart"></canvas>
            <div class="chart-legend" id="chartLegend"></div>
        </div>
    </div>
    <div class="sector hidden" id="sector3">
        <h2>Objetivos Operativos</h2>
        <div class="chart-container">
            <canvas id="donutChart2"></canvas>
            <div class="chart-legend" id="chartLegend2"></div>
        </div>
    </div>
    <div class="sector hidden" id="sector4">
        <h2>Historial Objetivo</h2>
        <div class="white-box">
            <span style="font-size: x-large;"><strong>Cantidad de escuelas construidas</strong></span>
            <div class="row">
                <div class="col-md-1 d-flex justify-content-center align-items-center">
                    <div class="icon-circle">
                        <img src="~/Content/Iconos/escuela.png" alt="Escuela">
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="column-title">Meta</div>
                    <div style="font-weight: bold;">12</div>
                </div>
                <div class="col-md-2">
                    <div class="column-title">Valor actual</div>
                    <div style="font-weight: bold;color:green;">6</div>
                </div>
                <div class="col-md-2">
                    <div class="column-title">Unidad de Medida</div>
                    <div>Escuelas</div>
                </div>
                <div class="col-md-2">
                    <div class="column-title">Periodicidad</div>
                    <div>Trimestral</div>
                </div>
                <div class="col-md-2">
                    <div class="column-title">Medido al</div>
                    <div>03/06/2025</div>
                </div>
                <div class="col-md-1">
                    <div class="column-title">Cumplimiento</div>
                    <div style="font-weight: bold;">50%</div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-1 d-flex justify-content-center align-items-center">
                    <div class="icon-circle">
                        <img src="~/Content/Iconos/escuela.png" alt="Escuela">
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="column-title">Meta</div>
                    <div style="font-weight: bold;">10</div>
                </div>
                <div class="col-md-2">
                    <div class="column-title">Valor actual</div>
                    <div style="font-weight: bold;color:red;">3</div>
                </div>
                <div class="col-md-2">
                    <div class="column-title">Unidad de Medida</div>
                    <div>Escuelas</div>
                </div>
                <div class="col-md-2">
                    <div class="column-title">Periodicidad</div>
                    <div>Trimestral</div>
                </div>
                <div class="col-md-2">
                    <div class="column-title">Medido al</div>
                    <div>03/01/2025</div>
                </div>
                <div class="col-md-2">
                    <div class="column-title">Cumplimiento</div>
                    <div style="font-weight: bold;">30%</div>
                </div>
            </div>
        </div>
    </div>
    <div class="sector hidden" id="sector5">
        <h2>Detalle Objetivo</h2>
        <div class="white-box">
            <div class="row mb-3">
                <div class="col-md-1 d-flex justify-content-center align-items-center">
                    <div class="icon-circle">
                        <img src="~/Content/Iconos/escuela.png" alt="Escuela">
                    </div>
                </div>
                <div class="col-md-11">
                    <span style="font-weight: bold;">Cantidad de escuelas construidas</span><br>
                    <span>El presente indicador mide el total de escuelas construidas durante el año 2025 considerando los proyectos ejecutados y concluidos</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-2"><span style="font-weight: bold;">Meta:</span> <span>12 Escuelas</span></div>
                    <div class="mb-2"><span style="font-weight: bold;">Valor actual:</span> <span>6 Escuelas</span></div>
                    <div class="mb-2"><span style="font-weight: bold;">Frecuencia de medición:</span> <span>Trimestral</span></div>
                    <div class="mb-2"><span style="font-weight: bold;">Fórmula:</span> <span>(Q Escuelas Construidas/Q Escuelas a construir)*100</span></div>
                    <div class="mb-2"><span style="font-weight: bold;">Medido al:</span> <span>03/06/2025</span></div>
                    <div class="mb-2"><span style="font-weight: bold;">Cumplimiento actual:</span> <span>40%</span></div>
                    <div class="mb-2"><span style="font-weight: bold;">Responsable:</span> <span>XXXXXX</span></div>
                </div>
                <div class="col-md-6">
                    <canvas id="lineChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var ctx = document.getElementById('donutChart').getContext('2d');
            var donutChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ['Incrementar y amplicar la infraestructura pública', 'Planeación , proyectos y gestión administrativa', 'Garantizar el derecho de acceso a la información pública y la protección de datos personales', 'Promoción de la cultura de la transparencia'],
                    datasets: [{
                        data: [25, 25, 25, 25],
                        backgroundColor: ['#9722a9', '#36A2EB', '#FFCE56', '#4BC0C0'],
                        hoverBackgroundColor: ['#9722a9', '#36A2EB', '#FFCE56', '#4BC0C0'],
                        offset: [0, 0, 0, 0] // Inicialmente sin desplazamiento
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        legend: {
                            display: false
                        }
                    },
                    onClick: function (evt, item) {
                        if (item.length > 0) {
                            var index = item[0].index;
                            if (index === 0) { // Índice de 'Incrementar y amplicar la infraestructura pública'
                                document.getElementById('sector3').classList.remove('hidden');
                                donutChart.data.datasets[0].offset = [20, 0, 0, 0]; // Desplazar la porción seleccionada
                                donutChart.update();
                            }
                        }
                    }
                }
            });

            // Generar la leyenda manualmente
            var legendContainer = document.getElementById('chartLegend');
            donutChart.data.labels.forEach(function (label, index) {
                var legendItem = document.createElement('div');
                legendItem.innerHTML = `<span style="background-color:${donutChart.data.datasets[0].backgroundColor[index]};"></span>${label}`;
                legendItem.addEventListener('click', function () {
                    if (index === 0) { // Índice de 'Incrementar y amplicar la infraestructura pública'
                        document.getElementById('sector3').classList.remove('hidden');
                    }
                });
                legendContainer.appendChild(legendItem);
            });

            // Segundo gráfico de dona
            var ctx2 = document.getElementById('donutChart2').getContext('2d');
            var donutChart2 = new Chart(ctx2, {
                type: 'doughnut',
                data: {
                    labels: ['Completar la construcción de 12 escuelas', 'Completar la construcción de 10 hospitales'],
                    datasets: [{
                        data: [50, 50],
                        backgroundColor: ['#FF6384', '#36A2EB'],
                        hoverBackgroundColor: ['#FF6384', '#36A2EB']
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        legend: {
                            display: false
                        }
                    }
                }
            });

            // Generar la leyenda manualmente para el segundo gráfico
            var legendContainer2 = document.getElementById('chartLegend2');
            donutChart2.data.labels.forEach(function (label, index) {
                var legendItem2 = document.createElement('div');
                legendItem2.innerHTML = `<span style="background-color:${donutChart2.data.datasets[0].backgroundColor[index]};"></span>${label}`;
                legendContainer2.appendChild(legendItem2);
            });

            // Gráfico de líneas
            var ctxLine = document.getElementById('lineChart').getContext('2d');
            var lineChart = new Chart(ctxLine, {
                type: 'line',
                data: {
                    labels: ['Trim1', 'Trim2', 'Trim3', 'Trim4'],
                    datasets: [
                        {
                            label: 'Meta',
                            data: [10, 12, 14, 16],
                            borderColor: 'red',
                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                            pointBackgroundColor: 'red',
                            pointBorderColor: 'red',
                            pointRadius: 2,
                            fill: true
                        },
                        {
                            label: 'Valor actual',
                            data: [3, 6],
                            borderColor: 'blue',
                            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                            pointBackgroundColor: 'blue',
                            pointBorderColor: 'blue',
                            pointRadius: 2,
                            fill: true
                        }
                    ]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: true,
                            max: 18
                        }
                    }
                }
            });

            // Mostrar el segundo sector al hacer clic en el info-box de Infraestructura
            document.getElementById('infoInfraestructura').addEventListener('click', function () {
                document.getElementById('sector2').classList.remove('hidden');
            });
        });

    </script>
</body>
</html>



















